<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noriteo.delinori.reply.mapper.ReplyMapper">

    <insert id="insert">
        insert into test_reply (sno, replyer, reply)
        values (#{sno}, #{replyer}, #{reply})
    </insert>

    <select id="getListWithBoard" resultType="com.noriteo.delinori.reply.domain.Reply">
        select * from test_reply where sno = #{sno} order by rno asc
    </select>

    <delete id="delete">
        delete from test_reply where rno = #{rno}
    </delete>

    <update id="update">
        update test_reply set reply = #{reply}, modDate = now() where rno = #{rno}
    </update>

</mapper>